.icon {
    width: 40px;
    height: 40px;
}

.icon--small {
    width: 20px;
    height: 20px;
}

.icon--primary{
    fill: var(--color-primary);
}

.icon--secondary{
    fill: var(--color-secondary);
}

.icon-container {
    background: #f3f9fa;
    width: 30px;
    height:30px;
    border-radius: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    white-space: nowrap;
    display: inline-flex;
}

.icon-container--small {
    background: #f3f9fa;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    white-space: nowrap;
   display: inline-flex;
    margin-right: 4px;
}
.icon--container-secondary {
    background: var(--color-primary);
    
}

.icon--white {
    fill: #fff;
}

.collapsible__header .icon-container  {
    background: var(--color-primary);
    width: 30px;
    height: 30px;

}